  
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <a class="navbar-brand" id="navbarsDefault" href="#"><span class="logo">The</span>NEEMUCH<span class="logo">Express</span></a>
  <button class="navbar-toggler hidden-sm-up" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed" data-target="#navbarsDefault" aria-controls="navbarsDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="navbarsDefault">
	<a class="nav-link" href="app-navigation-bar">HOME</a>
    <ul class="navbar-nav mr-2" *ngFor="let sub of value">
      <li class="nav-item active">
        <a class="nav-link" href="#{{ sub.name }}scroll">{{ sub.name  | uppercase }}</a>
      </li>
    </ul>
    
  </div>
</nav>